<ion-header>
  <ion-toolbar>
    <ion-title>Add a cocktail</ion-title>
    <ion-buttons slot="end">
      <ion-button type="submit" color="primary" (click)="addCocktail(f)">Add</ion-button>
     </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm" (ngSubmit)="addCocktail(f)" novalidate>
    <ion-item>
      <ion-input type="text" name="name" ngModel required placeholder="Name your drink"></ion-input>
    </ion-item>
    <ion-segment name="type" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="soft">
        <ion-label>Soft</ion-label>
      </ion-segment-button>
      <ion-segment-button value="alcool" checked>
        <ion-label>Alcool</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
      <ion-fab-button color="danger">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button href="/add-a-soft">Soft</ion-fab-button>
        <ion-fab-button *ngIf="indicator == 0" href="/add-an-alcool">Alcool</ion-fab-button>
        <ion-fab-button href="/add-an-other">Other</ion-fab-button>
      </ion-fab-list>
    </ion-fab>
    <ion-item>
      <ion-label>Ingredients :</ion-label>
    </ion-item>
    <ion-list #mylist>
      <ion-item *ngIf="ingredients == null">
        <ion-label>(empty)</ion-label>
      </ion-item>
        <ion-item-sliding *ngFor="let ingredient of ingredients">
          <ion-item>
            <ion-label>ingredient.name</ion-label>
            <ion-label>ingredient.qty ingredient.dosage</ion-label>
          </ion-item>
          <ion-item-option color="danger" (click)="delete(ingredient)">DELETE</ion-item-option>
        </ion-item-sliding>
      </ion-list>
  </form>
</ion-content>

